# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md

on: [pull_request]

name: check frontend

env:
  ACTIX_PORT: 8080

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@1.84
        with:
          components: clippy, rustfmt
      - run: RUSTFLAGS=--cfg=web_sys_unstable_apis  cargo clippy -- --deny warnings
      - run: RUSTFLAGS=--cfg=web_sys_unstable_apis  cargo fmt --check
      - run: RUSTFLAGS=--cfg=web_sys_unstable_apis  cargo test 
